<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="patientId">patientId</label>
                
                  <input formControlName="patientId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="consultationId">consultationId</label>
                
                  <input formControlName="consultationId" type="text" class="form-control">
                
              </div>
            
          

            
              <label for="consultationType">consultationType</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="consultationType"
                      
                      name="consultationType"
                      value="CLINICAL"
                      type="radio"
                      
                    />
                    CLINICAL
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationType"
                      
                      name="consultationType"
                      value="SURGERY"
                      type="radio"
                      
                    />
                    SURGERY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationType"
                      
                      name="consultationType"
                      value="IMMUNIZATION"
                      type="radio"
                      
                    />
                    IMMUNIZATION
                  </label>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="dateOfConsultation">dateOfConsultation</label>
                
                  <input formControlName="dateOfConsultation" type="text" class="form-control">
                
              </div>
            
          

            
              <label for="consultationDisease">consultationDisease</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="CARDIOVASCULAR"
                      type="radio"
                      
                    />
                    CARDIOVASCULAR
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="CANCER"
                      type="radio"
                      
                    />
                    CANCER
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="CHRONIC_LOWER_RESPIRATORY_DISEASE"
                      type="radio"
                      
                    />
                    CHRONIC_LOWER_RESPIRATORY_DISEASE
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="STROKE"
                      type="radio"
                      
                    />
                    STROKE
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="ANDROPAUSE"
                      type="radio"
                      
                    />
                    ANDROPAUSE
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="ARTHRITIS"
                      type="radio"
                      
                    />
                    ARTHRITIS
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="ACUTE_BRONCHITIS"
                      type="radio"
                      
                    />
                    ACUTE_BRONCHITIS
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="BURN"
                      type="radio"
                      
                    />
                    BURN
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="CROHNS"
                      type="radio"
                      
                    />
                    CROHNS
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="DEPRESSION"
                      type="radio"
                      
                    />
                    DEPRESSION
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="DIARRHEA"
                      type="radio"
                      
                    />
                    DIARRHEA
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="DERMATITIS"
                      type="radio"
                      
                    />
                    DERMATITIS
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="ENDOMETRIOSIS"
                      type="radio"
                      
                    />
                    ENDOMETRIOSIS
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="EPILEPSY"
                      type="radio"
                      
                    />
                    EPILEPSY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="FIBROMYALGIA"
                      type="radio"
                      
                    />
                    FIBROMYALGIA
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="DVT"
                      type="radio"
                      
                    />
                    DVT
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="HERPES"
                      type="radio"
                      
                    />
                    HERPES
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="GONORRHEA"
                      type="radio"
                      
                    />
                    GONORRHEA
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="GOUT"
                      type="radio"
                      
                    />
                    GOUT
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="GYNECOMASTIA"
                      type="radio"
                      
                    />
                    GYNECOMASTIA
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="MYOCARDIAL_INFARCTION"
                      type="radio"
                      
                    />
                    MYOCARDIAL_INFARCTION
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="HEMORRHOIDS"
                      type="radio"
                      
                    />
                    HEMORRHOIDS
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="HIV"
                      type="radio"
                      
                    />
                    HIV
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="consultationDisease"
                      
                      name="consultationDisease"
                      value="AIDS"
                      type="radio"
                      
                    />
                    AIDS
                  </label>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="consultationPrescription">consultationPrescription</label>
                
                    <textarea formControlName="consultationPrescription" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="consultationImmunization">consultationImmunization</label>
                
                    <textarea formControlName="consultationImmunization" class="form-control" rows="3"></textarea>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="patientId">patientId</label>

              
                <input [ngModel]="patientId"formControlName="patientId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="consultationId">consultationId</label>

              
                <input [ngModel]="consultationId"formControlName="consultationId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="consultationType">consultationType</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="consultationType"
                            [ngModel]="consultationType"
                          
                          name="consultationType"
                          value="CLINICAL"
                          type="radio"
                          
                        />
                        CLINICAL
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationType"
                            [ngModel]="consultationType"
                          
                          name="consultationType"
                          value="SURGERY"
                          type="radio"
                          
                        />
                        SURGERY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationType"
                            [ngModel]="consultationType"
                          
                          name="consultationType"
                          value="IMMUNIZATION"
                          type="radio"
                          
                        />
                        IMMUNIZATION
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="dateOfConsultation">dateOfConsultation</label>

              
                <input [ngModel]="dateOfConsultation"formControlName="dateOfConsultation" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="consultationDisease">consultationDisease</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="CARDIOVASCULAR"
                          type="radio"
                          
                        />
                        CARDIOVASCULAR
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="CANCER"
                          type="radio"
                          
                        />
                        CANCER
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="CHRONIC_LOWER_RESPIRATORY_DISEASE"
                          type="radio"
                          
                        />
                        CHRONIC_LOWER_RESPIRATORY_DISEASE
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="STROKE"
                          type="radio"
                          
                        />
                        STROKE
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="ANDROPAUSE"
                          type="radio"
                          
                        />
                        ANDROPAUSE
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="ARTHRITIS"
                          type="radio"
                          
                        />
                        ARTHRITIS
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="ACUTE_BRONCHITIS"
                          type="radio"
                          
                        />
                        ACUTE_BRONCHITIS
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="BURN"
                          type="radio"
                          
                        />
                        BURN
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="CROHNS"
                          type="radio"
                          
                        />
                        CROHNS
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="DEPRESSION"
                          type="radio"
                          
                        />
                        DEPRESSION
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="DIARRHEA"
                          type="radio"
                          
                        />
                        DIARRHEA
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="DERMATITIS"
                          type="radio"
                          
                        />
                        DERMATITIS
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="ENDOMETRIOSIS"
                          type="radio"
                          
                        />
                        ENDOMETRIOSIS
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="EPILEPSY"
                          type="radio"
                          
                        />
                        EPILEPSY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="FIBROMYALGIA"
                          type="radio"
                          
                        />
                        FIBROMYALGIA
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="DVT"
                          type="radio"
                          
                        />
                        DVT
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="HERPES"
                          type="radio"
                          
                        />
                        HERPES
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="GONORRHEA"
                          type="radio"
                          
                        />
                        GONORRHEA
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="GOUT"
                          type="radio"
                          
                        />
                        GOUT
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="GYNECOMASTIA"
                          type="radio"
                          
                        />
                        GYNECOMASTIA
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="MYOCARDIAL_INFARCTION"
                          type="radio"
                          
                        />
                        MYOCARDIAL_INFARCTION
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="HEMORRHOIDS"
                          type="radio"
                          
                        />
                        HEMORRHOIDS
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="HIV"
                          type="radio"
                          
                        />
                        HIV
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="consultationDisease"
                            [ngModel]="consultationDisease"
                          
                          name="consultationDisease"
                          value="AIDS"
                          type="radio"
                          
                        />
                        AIDS
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="consultationPrescription">consultationPrescription</label>

              
                
                  <textarea [ngModel]="consultationPrescription" formControlName="consultationPrescription" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="consultationImmunization">consultationImmunization</label>

              
                
                  <textarea [ngModel]="consultationImmunization" formControlName="consultationImmunization" class="form-control" rows="3"></textarea>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>ConsultationInformation</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">patientId</th>
            
                <th class="info">consultationId</th>
            
                <th class="info">consultationType</th>
            
                <th class="info">dateOfConsultation</th>
            
                <th class="info">consultationDisease</th>
            
                <th class="info">consultationPrescription</th>
            
                <th class="info">consultationImmunization</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.patientId}}</td>
            
                <td>{{asset.consultationId}}</td>
            
                <td>{{asset.consultationType}}</td>
            
                <td>{{asset.dateOfConsultation}}</td>
            
                <td>{{asset.consultationDisease}}</td>
            
                <td>{{asset.consultationPrescription}}</td>
            
                <td>{{asset.consultationImmunization}}</td>
            
            <td>
              <button (click)="getForm(asset.patientId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.patientId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
