<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="patientId">patientId</label>
                
                  <input formControlName="patientId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="typeOfInsurance">typeOfInsurance</label>
                
                  <input formControlName="typeOfInsurance" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="provider">provider</label>
                
                  <input formControlName="provider" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="plan_name">plan_name</label>
                
                  <input formControlName="plan_name" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="policy_number">policy_number</label>
                
                  <input formControlName="policy_number" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="group_number">group_number</label>
                
                  <input formControlName="group_number" type="number" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_lname">subscriber_lname</label>
                
                  <input formControlName="subscriber_lname" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_mname">subscriber_mname</label>
                
                  <input formControlName="subscriber_mname" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_fname">subscriber_fname</label>
                
                  <input formControlName="subscriber_fname" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_relationship">subscriber_relationship</label>
                
                  <input formControlName="subscriber_relationship" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_ss">subscriber_ss</label>
                
                  <input formControlName="subscriber_ss" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_DOB">subscriber_DOB</label>
                
                  <input formControlName="subscriber_DOB" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_street">subscriber_street</label>
                
                  <input formControlName="subscriber_street" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_postal_code">subscriber_postal_code</label>
                
                  <input formControlName="subscriber_postal_code" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_city">subscriber_city</label>
                
                  <input formControlName="subscriber_city" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_state">subscriber_state</label>
                
                  <input formControlName="subscriber_state" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_country">subscriber_country</label>
                
                  <input formControlName="subscriber_country" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_phone">subscriber_phone</label>
                
                  <input formControlName="subscriber_phone" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_employer">subscriber_employer</label>
                
                  <input formControlName="subscriber_employer" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_employer_street">subscriber_employer_street</label>
                
                  <input formControlName="subscriber_employer_street" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_employer_postal_code">subscriber_employer_postal_code</label>
                
                  <input formControlName="subscriber_employer_postal_code" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_employer_state">subscriber_employer_state</label>
                
                  <input formControlName="subscriber_employer_state" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_employer_country">subscriber_employer_country</label>
                
                  <input formControlName="subscriber_employer_country" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_employer_city">subscriber_employer_city</label>
                
                  <input formControlName="subscriber_employer_city" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="copay">copay</label>
                
                  <input formControlName="copay" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="date">date</label>
                
                  <input formControlName="date" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="subscriber_sex">subscriber_sex</label>
                
                  <input formControlName="subscriber_sex" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="accept_assignment">accept_assignment</label>
                
                  <input formControlName="accept_assignment" type="text" class="form-control">
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="patientId">patientId</label>

              
                <input [ngModel]="patientId"formControlName="patientId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="typeOfInsurance">typeOfInsurance</label>

              
                <input [ngModel]="typeOfInsurance"formControlName="typeOfInsurance" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="provider">provider</label>

              
                <input [ngModel]="provider"formControlName="provider" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="plan_name">plan_name</label>

              
                <input [ngModel]="plan_name"formControlName="plan_name" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="policy_number">policy_number</label>

              
                <input [ngModel]="policy_number"formControlName="policy_number" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="group_number">group_number</label>

              
                <input [ngModel]="group_number" formControlName="group_number" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_lname">subscriber_lname</label>

              
                <input [ngModel]="subscriber_lname"formControlName="subscriber_lname" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_mname">subscriber_mname</label>

              
                <input [ngModel]="subscriber_mname"formControlName="subscriber_mname" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_fname">subscriber_fname</label>

              
                <input [ngModel]="subscriber_fname"formControlName="subscriber_fname" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_relationship">subscriber_relationship</label>

              
                <input [ngModel]="subscriber_relationship"formControlName="subscriber_relationship" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_ss">subscriber_ss</label>

              
                <input [ngModel]="subscriber_ss"formControlName="subscriber_ss" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_DOB">subscriber_DOB</label>

              
                <input [ngModel]="subscriber_DOB"formControlName="subscriber_DOB" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_street">subscriber_street</label>

              
                <input [ngModel]="subscriber_street"formControlName="subscriber_street" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_postal_code">subscriber_postal_code</label>

              
                <input [ngModel]="subscriber_postal_code"formControlName="subscriber_postal_code" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_city">subscriber_city</label>

              
                <input [ngModel]="subscriber_city"formControlName="subscriber_city" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_state">subscriber_state</label>

              
                <input [ngModel]="subscriber_state"formControlName="subscriber_state" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_country">subscriber_country</label>

              
                <input [ngModel]="subscriber_country"formControlName="subscriber_country" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_phone">subscriber_phone</label>

              
                <input [ngModel]="subscriber_phone"formControlName="subscriber_phone" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_employer">subscriber_employer</label>

              
                <input [ngModel]="subscriber_employer"formControlName="subscriber_employer" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_employer_street">subscriber_employer_street</label>

              
                <input [ngModel]="subscriber_employer_street"formControlName="subscriber_employer_street" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_employer_postal_code">subscriber_employer_postal_code</label>

              
                <input [ngModel]="subscriber_employer_postal_code"formControlName="subscriber_employer_postal_code" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_employer_state">subscriber_employer_state</label>

              
                <input [ngModel]="subscriber_employer_state"formControlName="subscriber_employer_state" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_employer_country">subscriber_employer_country</label>

              
                <input [ngModel]="subscriber_employer_country"formControlName="subscriber_employer_country" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_employer_city">subscriber_employer_city</label>

              
                <input [ngModel]="subscriber_employer_city"formControlName="subscriber_employer_city" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="copay">copay</label>

              
                <input [ngModel]="copay"formControlName="copay" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="date">date</label>

              
                <input [ngModel]="date"formControlName="date" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="subscriber_sex">subscriber_sex</label>

              
                <input [ngModel]="subscriber_sex"formControlName="subscriber_sex" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="accept_assignment">accept_assignment</label>

              
                <input [ngModel]="accept_assignment"formControlName="accept_assignment" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>InsuranceData</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">patientId</th>
            
                <th class="info">typeOfInsurance</th>
            
                <th class="info">provider</th>
            
                <th class="info">plan_name</th>
            
                <th class="info">policy_number</th>
            
                <th class="info">group_number</th>
            
                <th class="info">subscriber_lname</th>
            
                <th class="info">subscriber_mname</th>
            
                <th class="info">subscriber_fname</th>
            
                <th class="info">subscriber_relationship</th>
            
                <th class="info">subscriber_ss</th>
            
                <th class="info">subscriber_DOB</th>
            
                <th class="info">subscriber_street</th>
            
                <th class="info">subscriber_postal_code</th>
            
                <th class="info">subscriber_city</th>
            
                <th class="info">subscriber_state</th>
            
                <th class="info">subscriber_country</th>
            
                <th class="info">subscriber_phone</th>
            
                <th class="info">subscriber_employer</th>
            
                <th class="info">subscriber_employer_street</th>
            
                <th class="info">subscriber_employer_postal_code</th>
            
                <th class="info">subscriber_employer_state</th>
            
                <th class="info">subscriber_employer_country</th>
            
                <th class="info">subscriber_employer_city</th>
            
                <th class="info">copay</th>
            
                <th class="info">date</th>
            
                <th class="info">subscriber_sex</th>
            
                <th class="info">accept_assignment</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.patientId}}</td>
            
                <td>{{asset.typeOfInsurance}}</td>
            
                <td>{{asset.provider}}</td>
            
                <td>{{asset.plan_name}}</td>
            
                <td>{{asset.policy_number}}</td>
            
                <td>{{asset.group_number}}</td>
            
                <td>{{asset.subscriber_lname}}</td>
            
                <td>{{asset.subscriber_mname}}</td>
            
                <td>{{asset.subscriber_fname}}</td>
            
                <td>{{asset.subscriber_relationship}}</td>
            
                <td>{{asset.subscriber_ss}}</td>
            
                <td>{{asset.subscriber_DOB}}</td>
            
                <td>{{asset.subscriber_street}}</td>
            
                <td>{{asset.subscriber_postal_code}}</td>
            
                <td>{{asset.subscriber_city}}</td>
            
                <td>{{asset.subscriber_state}}</td>
            
                <td>{{asset.subscriber_country}}</td>
            
                <td>{{asset.subscriber_phone}}</td>
            
                <td>{{asset.subscriber_employer}}</td>
            
                <td>{{asset.subscriber_employer_street}}</td>
            
                <td>{{asset.subscriber_employer_postal_code}}</td>
            
                <td>{{asset.subscriber_employer_state}}</td>
            
                <td>{{asset.subscriber_employer_country}}</td>
            
                <td>{{asset.subscriber_employer_city}}</td>
            
                <td>{{asset.copay}}</td>
            
                <td>{{asset.date}}</td>
            
                <td>{{asset.subscriber_sex}}</td>
            
                <td>{{asset.accept_assignment}}</td>
            
            <td>
              <button (click)="getForm(asset.patientId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.patientId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
